<% t = @task %>
<h1><%= t.name %></h1>
<h2>Uppdragsgivare: <%= t.client_name %></h2>
<h2>Timtaxa: <%= t.hourly_rate %> kr</h2>
<h2>Arvode: <%= t.fee %> kr</h2>
<h2>Deadline: <%= t.deadline_date %></h2>
<ul class="well unstyled">
<h2>Arbetade pass:</h2>
  <% t.completed_shifts.each do |cs| %>
  <li>
    <p>Datum: <%= cs.start_date %></p>
    <p>Längd: <%= cs.duration %> sekunder </p>
  </li>
  <% end %>
</ul>

<%= link_to "Redigera jobbet", edit_task_path(t) %>
